*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav
{
    display: flex;
    gap: 60%;
    padding-left: 5%;
    margin-top: 2%;
}
.nav-button
{
    margin-top: 20px;
}

.head
{
    height: 25px;
    width: 75px;
    border: none;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
    /* border: 2px solid rgb(54, 37, 37); */
}
.head:hover
{
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    color: black;
}
.heading
{
    text-align: center;
    margin-top: 13%;
}
h2
{
    color: #20bc7e;
    font-size: 20px;
}
.para
{
    margin-left: 35%;
    margin-right: 30%;
}
.text
{
    margin-top: 20px;
}
.three
{
    margin-left: 15%;
}
.lower
{
    display: flex;
    margin-left: 25%;
    margin-top: 05%;
    gap: 25%;
    border-radius: 10px;
}
.box
{
    border: 2px solid black;
    height: 70px;
    width: 90px;
    text-align: center;
    font-weight: 900;
    /* position: relative; */
    justify-content: space-around;
}
span
{
    color: #20bc7e;
    font-size: 20px;
    font-weight: bolder;
}
.head
{
    height: 25px;
    width: 75px;
    border: none;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}












/* 
.achievementCard {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .achievementCard span {
    font-size: 25px;
    font-weight: 700;
    color: #20BC7E;
  }
  
  .achievementCard p {
    font-size: 20px;
    font-weight: 500;
  } */